# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# PyTorch
*.pth
*.pt

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# Dataset
data/

# Logs and models
reports/logs/
models/
